<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>shoes-Api</title>

  <H1 class="center ">shoes are us</H1>
  {{!-- <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        /> --}}
  {{!-- <link rel="stylesheet" href="style.css" />
        <script src="script.js" defer></script> --}}

  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"
    integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
  <!-- handlebars link call -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.js"
    integrity="sha256-hSzapznWRy/aOZkctlN03an9DxCLlN8ZCQS0lxntiHg=" crossorigin="anonymous"></script>

  <script type="text/x-script" class="filteredCarsTemplate">
		<table>
			<tr>

			<th>Brand</th>
			<th>Size</th>
			<th>Colour</th>
	    <th>Price</th>
    	<th>Available</th>

			</tr>
{{#each filteredshoes}}

<tr>
<td>{{this.brand}}</td>
<td>{{this.size}}</td>
<td>{{this.colour}}</td>
<td>{{this.price}}</td>
<td>{{this.in_stock}}</td>
</tr>
{{/each}}

</table>

</script> --}}

</head>

<body>


  <!-- Slideshow container -->
  
</body>

</html>

 <script src="shoes-function.js"></script>
<script src="filter.js"></script> 

