<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>shoes-Api</title>

  <H1 class="center ">shoes are us</H1>
  {{!-- <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        /> --}}
  {{!-- <link rel="stylesheet" href="style.css" />
        <script src="script.js" defer></script> --}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"
    integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
  <!-- handlebars link call -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.js"
    integrity="sha256-hSzapznWRy/aOZkctlN03an9DxCLlN8ZCQS0lxntiHg=" crossorigin="anonymous"></script>

  <script type="text/x-script" class="filteredCarsTemplate">
		<table>
			<tr>

			<th>Brand</th>
			<th>Size</th>
			<th>Colour</th>
	    <th>Price</th>
    	<th>Available</th>

			</tr>
{{#each filteredshoes}}

<tr>
<td>{{this.brand}}</td>
<td>{{this.size}}</td>
<td>{{this.colour}}</td>
<td>{{this.price}}</td>
<td>{{this.in_stock}}</td>
</tr>
{{/each}}

</table>

</script>

</head>

<body>


  <!-- Slideshow container -->
  <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img width="528px" height="352px" src="img/shoe-4.jpg" style="width:100%">
      <div class="text">Adidas</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img width="547px" height="365px" src="img/shoe-1.jpg" style="width:100%">
      <div class="text">Nike</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img width="499px" height="333px" src="img/leon-seibert-G5flBvvgZvE-unsplash.jpg" style="width:100%">
      <div class="text">Puma</div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>

  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
  <span>
    <button class="filterBtn" type="submit">filter</button>

  </span>


  <div class="dropdown left">
    <button onclick="myFunctionA()" class="dropbtn">Brand</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Nike</a>
      <a href="#">Puma</a>
      <a href="#">Adidas</a>
    </div>
  </div>

  <div class="dropdown left">
    <button onclick="myFunctionB()" class="dropbtn">Size</button>
    <div id="myDropdown2" class="dropdown-content">
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">9</a>
    </div>
  </div>
  <div class="dropdown left">
    <button onclick="myFunctionC()" class="dropbtn">All</button>
    <div id="myDropdown3" class="dropdown-content">
      <a href="#">All</a>
      {{!-- <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a> --}}
    </div>

  </div>

  <div class="center">
    <h2>Available Shoes</h2>

    <div class="filteredCars">

      <ul class="filteredCarsList"></ul>

    </div>

  </div>
  </div>


</body>

</html>

<script src="shoes-function.js"></script>
<script src="filter.js"></script>

<script>
  var slideIndex = 0;
  showSlides();

  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) { slideIndex = 1 }
    slides[slideIndex - 1].style.display = "block";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
  }

  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunctionA() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunctionB() {
    document.getElementById("myDropdown2").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }


  /* When the user clicks on the button,
   toggle between hiding and showing the dropdown content */
  function myFunctionC() {
    document.getElementById("myDropdown3").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }




  

  


  



</script>